{% extends 'blog/base.html' %}

{% block content %}
{% if user.is_authenticated %}
<a class="small-button" href="{% url 'post_new' %}">
    New Post
</a>
{% endif %}
{% for post in posts %}
<a class="blog-post-link" href="{% url 'post_detail' pk=post.pk %}">
    <div class="blog-post-container">
        <p>
            <span class="blog-post-preview-title">{{ post.title }}</span>
            <span class="blog-post-date">{{ post.published_date }}</span>
        </p>
    </div>
</a>
<br>
{% endfor %}
{% endblock %}